<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<script src="../dist/template.js"></script>
</head>
<body>
	<div id="content"></div>
</body>
<script id="test" type="text/base">
<% if (print) { %>

<h1><%=title%></h1>
<ol>
    <% for (var i = 0; i < list.length; i ++) { %>
        <li>索引 <%= i + 1 %> ：<%= list[i] %></li>
    <% } %>
</ol>

<% } %>
</script>

<script>
var time = Date.now();
var data = {
	title: '例子',
	print: true,
	list: ['123', '222', '333', '44']
};
//console.log(document.getElementById("test").innerHTML);
var text = document.getElementById("test").innerHTML;
var html = template(text, data);
document.getElementById('content').innerHTML = html;

</script>
</html>